/flask
/fullstack_template/server/Include
/fullstack_template/server/Lib
/fullstack_template/server/Scripts
/fullstack_template/server/tcl
/fullstack_template/static/node_modules
/fullstack_template/server/flaskenv
