/flask
/fullstack_template/server/flaskenv
/fullstack_template/server/Include
/fullstack_template/server/Lib
/fullstack_template/server/Scripts
/fullstack_template/server/tcl
*.pyc
/fullstack_template/static/node_modules
/fullstack_template/server/flaskenv
/fullstack_template/static/bootstrap
/fullstack_template/static/dist/
/node_modules
/fullstack_template\static\dist\bundle.js
