.table-header {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    /*background-color: lightpink;*/
    height: 24px;
    margin-top: 0px;
    border-color: rgb(222, 227, 232);
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-right-style: none;
}

.table-header>* {
    color: rgb(76, 112, 121);
    padding: 0px 5px;
    width: 100%;
    height: 24px;
    font-size: 11px;
    /*margin: 0;*/
    text-align: center;
    font-weight: 400;

    margin: 0 0;
    line-height: 24px;
}

/*.fixedheader {
  width: 90vw;
}*/

.fixedheader > *{
  border-right-style: solid;
  border-color: rgb(222, 227, 232);
  border-width: 1px;
  border-collapse: collapse;
}

.checkboxOne {
    max-width: 12.9px;
}

#checkboxOneInput {
    margin-top: 6px;
    margin-left: -1px;
}

.article-row {
    overflow-y: scroll;
}

/* costume scroll bar with 1px width */

/*.all-entries::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.all-entries::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.all-entries::-webkit-scrollbar-thumb {
    background-color: black;
    border: 0.1px solid red;
}*/


/*.etiqueta::after {
  content: url('../../../images/etiqueta-luis.svg');
  width: auto;
  height: 25px;
}

.etiqueta {
  content: url('../../../images/etiqueta-luis.svg');
  width: auto;
  height: 25px;
}*/

/*.reconcile-img-grey {
    content: url('../../../images/reconcile-grey-luis.svg');
    width: auto;
    margin-top: 4px;
    color: green;
}

.reconcile-img-grey::before {
    content: url('../../../images/reconcile-grey-luis.svg');
    width: auto;
    margin-top: 20px;
    position: relative;
}

.reconcile-img {
    content: url('../../../images/reconcile-header-luis.svg');
    width: auto;
    margin-top: 4px;
}

.reconcile-img:before {
    content: url('../../../images/reconcile-header-luis.svg');
    width: auto;
    margin-top: 4px;
}*/

.date {
    min-width: 80.2px;
    width: 5%;
}

.payee {
    min-width: 119px;
    width: 15%;
}

.category {
    min-width: 182.2px;
    width: 40%;
}

.memo {
    min-width: 122.2px;
    width: 25%
}

.outflow {
    min-width: 71.2px;
    width: 10%;
}

.inflow {
    min-width: 71.2px;
    width: 10%;
}

/*.reconcile {
    min-width: 28.2px;
    max-width: 28.2px;
}*/

.icon-info, .icon-bookmark, .icon-check {
    margin-top: 20px;
    font-size: 14px;
    /*color: lightgrey;*/
}

.icon-reconcile2 {
    font-size: 16px;
}

.boxing-info {
    width: 14.5px;
}

.boxing-reconcile {
    width: 28px;
}

.unchecked {
    color: lightgrey;
}

.handhover {
  cursor: pointer;
}

.overlay {
    color: grey;
    width: 20%;
    height: 20%;
    background-color: rgba(black, 0.24);
    align-items: center;
    justify-content: center;
    /*width: 200px;*/
    left: 1600px;
}

.content {
  left: 300px;
  margin: 0.5rem;
  padding: 1rem;
  outline: none;
  overflow: auto;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.24), 0 16px 40px 0 rgba(0, 0, 0, 0.32);
}

.modal-content-color {
  text-align: center;
}

.modal-content-color > * {
  margin: 10px 0px;
  border-radius: 5px;
  line-height: 30px;
}

.modal-content-color-name {
  margin: 0px;
  color: white;
  font-size: 12px;
}

.modal-content-color-green {
  margin-top: 14px;
  background-color: #9AC234;
  font-weight: 400;
}

.modal-content-color-red {
  background-color: #D43D2E;
}

.modal-content-color-orange {
  background-color: #FF7B00;
}

.modal-content-color-yellow {
  background-color: #F8E136;
}

.modal-content-color-blue {
  background-color: #0082CB;
}

.modal-content-color-purple {
  background-color: #9384B7;
}

.modal-content-color-container {

  width: 280px;
  height: 260px;
  background: red;
  /*position: relative;*/
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.modal-content-color-container:before{
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}

.modal-overlay-color-container {
  background-color: lightblue;
  height: 100%

}
