.table-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /*min-width: 1000px;*/
}

.table-header-input-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 96%;
}

.table-header-input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.table-header-input-field > div >* {

}

.head-row-item, .head-row-item-input {
  color: rgb(76, 112, 121);
  padding: 0px 5px;
  /*width: 100%;*/
  height: 24px;
  font-size: 11px;
  /*margin: 0;*/
  text-align: center;
  font-weight: 400;

  margin: 0 0;
  line-height: 24px;
}

.body-row-item {
    color: rgb(76, 112, 121);
    padding: 0px 6px 0px 5px;

    height: 24px;
    font-size: 11px;
    /*margin: 0;*/
    text-align: center;
    font-weight: 400;

    margin: 0 0;
    line-height: 24px;
}

/*.fixedheader {
  width: 90vw;
}*/

.head-row-item {
  border-right-style: solid;
  border-color: rgb(222, 227, 232);
  border-width: 1px;
  border-collapse: collapse;
}

.fixedheader h5 {
  border-right-style: solid;
  border-color: rgb(222, 227, 232);
  border-width: 1px;
  border-collapse: collapse;
}

.blank {
  width: 17px;
}


#checkboxOneInput, .checkbox {
    margin-top: 3px;
    margin-left: 0px;
}

.all-entries {
    /*overflow-x: auto;*/
    overflow-y: scroll;
    /*margin-left: 150px;*/
}

/* costume scroll bar with 1px width */

/*.all-entries::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.all-entries::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.all-entries::-webkit-scrollbar-thumb {
    background-color: black;
    border: 0.1px solid red;
}*/


/*.etiqueta::after {
  content: url('../../../images/etiqueta-luis.svg');
  width: auto;
  height: 25px;
}

.etiqueta {
  content: url('../../../images/etiqueta-luis.svg');
  width: auto;
  height: 25px;
}*/

/*.reconcile-img-grey {
    content: url('../../../images/reconcile-grey-luis.svg');
    width: auto;
    margin-top: 4px;
    color: green;
}

.reconcile-img-grey::before {
    content: url('../../../images/reconcile-grey-luis.svg');
    width: auto;
    margin-top: 20px;
    position: relative;
}

.reconcile-img {
    content: url('../../../images/reconcile-header-luis.svg');
    width: auto;
    margin-top: 4px;
}

.reconcile-img:before {
    content: url('../../../images/reconcile-header-luis.svg');
    width: auto;
    margin-top: 4px;
}*/

.checkboxOne {
    min-width: 12.891px;
    width: 1%;
}


.date {
    /*min-width: 80.2px;
    width: 1em;*/
  width: 10%;
}

.date-input {
    /*min-width: 80.2px;
    width: 1em;*/
  width: 100%;
}

.table-header-input-data:first-child {
  width: 10%;
}

.react-datepicker-wrapper {
    /*min-width: 80.2px;
    width: 1em;*/
  /*width: 50%;*/
}

.table-header-input-data > div {
    /*min-width: 80.2px;
    width: 1em;*/
  width: 10%;
}

.payee {
    /*min-width: 119px;
    width: 3em;*/
    width: 22%;
}

.payee-input {
    /*min-width: 119px;
    width: 3em;*/
    width: 22%;
    margin-left: 7px;
}

.category {
    /*min-width: 182.2px;*/
    /*width: 100%;*/
    width: 24%;
}

.memo {
    /*min-width: 122.2px;*/
    width: 24%

}

.outflow {
    width: 10%;
}

.inflow {
    width: 10%;
}

.reconcile {
    /*min-width: 28.2px;*/
    width: 0.5%;
}

.icon-info, .icon-bookmark, .icon-checked, .icon-unchecked {
  /*min-width: 120px;*/
    margin-top: 20px;
    font-size: 14px;
    /*color: lightgrey;*/
}

.icon-reconcile2 {
    font-size: 16px;
}

.boxing-info {
    width: 1%;
    /*margin-right: 1px;
    padding-right: 1px;*/
}

.boxing-reconcile {
    width: 1%;
}

.unchecked {
    color: lightgrey;
}

.checked {
  color: rgb(22, 163, 54);
}

.handhover {
  cursor: pointer;
}

.hand-text {
  cursor: text;
}

.is-selected {
  background-color: black;
}

.is-selected .row-item {

  color: white;
}

.modal-content-color {
  text-align: center;
  width: 200px;
  height: 260px;
  background: white;
  padding: 3px 10px;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  box-shadow: -20px 20px 25px rgba(0, 0, 0, 0.4);
}

.modal-content-color:before {
  content:"";
   position: absolute;
   right: 100%;
   top: 20px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid white;
   border-bottom: 13px solid transparent;
}

.modal-content-color > * {
  margin: 10px 0px;
  border-radius: 5px;
  line-height: 30px;
  width: 200px;
}

.modal-content-color-name {
  margin: 0px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.modal-content-color-green {
  margin-top: 14px;
  background-color: #9AC234;

}

.modal-content-color-red {
  background-color: #D43D2E;

}

.modal-content-color-orange {
  background-color: #FF7B00;
}

.modal-content-color-yellow {
  background-color: #F8E136;
}

.modal-content-color-blue {
  background-color: #0082CB;
}

.modal-content-color-purple {
  background-color: #9384B7;
}

.modal-overlay-color-container {
  background-color: lightblue;
  height: 100%
}

.red {
  color: #D43D2E;
}

.green {
  color: #9AC234;
}

.orange {
  color: #FF7B00;
}

.yellow {
  color: #F8E136;
}

.blue {
  color: #0082CB;
}

.purple {
  color: #9384B7;
}

.grey {
  color: #E1E1E1;
}

input {
  height: 18px;
  width: 100%;
  padding: 0 2px;
}




/*.table-header-input-field > h5 > .date {
  flex-basis: 30px;
  flex-grow: 2;
}*/

.account-body {
  min-width: 840px;
  /*overflow-x: auto;*/
  /*overflow-x: hidden;*/
}

.spining {
  margin: 100px auto;

}

.form-button {
  display: inline-block;
  margin: 3px 2px;
  border-radius: 5px;
}

.button-group {
  margin-left: 85%;
}

.form-transaction {
  background-color: #00596F;
  color: white;
  padding: 2px 0;
}

.form-transaction input {
  border-color: #278CA4;
  border-collapse: collapse;
}

.form-transaction button {
  color: white;
  background-color: #278CA4;
  height: 30px;
  margin: 5PX 0;
}
